.content {
  display: grid;
  gap: 12px;
  padding-top: 8px;
}

.field {
  width: 100%;
}

.form-center {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 300px;
}

.full-width {
  width: 100%;
}